@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  background-color: var(--color-slate-900);
  color: var(--color-slate-100);
  margin: 0;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
